.header-part {
  height: 400px;
}

.my-photo {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.card {
  min-height: 350px;
}

.section-name-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #263238;
}

.section-name-wrapper {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
}

.section-name {
  width: max-content;
  margin: 0 auto;
  font-size: 20px;
  color: #ffffff;
}

.languages-list {
  font-size: 1.5rem;
}

.highlight{
  display: inline-block;
  background: #444a46
}